.button {
	@include flex-center(true);

	height: var(--button-height);
	padding-inline: clamp(10px, calc(10 / 768) * 100vw, 35px);
	font-size: 20px;
	color: var(--color-light);
	background-color: var(--color-dark);
	border-radius: var(--border-radius);
	border: var(--border);

	@include hover {
		background-color: var(--color-accent);
		color: var(--color-dark);
	}

	&--transparent {
		background-color: transparent;
		color: var(--color-dark);
		@include fluid-text(16, 20);
		height: clamp(48px, calc(68 / 1440) * 100vw, 68px);
	}
}
