.hero {
	display: grid;
	column-gap: 30px;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 'title  image' 'description image' 'partners partners';
	@include mobile {
		grid-template-columns: 1fr;
		grid-template-areas: 'title' 'image' 'description' 'partners';
		row-gap: 20px;
	}
	&__title {
		grid-area: title;
		align-self: center;
		max-width: 531px;
	}
	&__left-content {
		grid-area: description;
		display: flex;
		flex-direction: column;
		gap: 35px;
		align-items: start;
		@include mobile-small {
			align-items: normal;
		}
	}
	&__description {
		@include fluid-text(16, 20);
		line-height: 1.4;
		max-width: 500px;
	}
	&__right-content {
		grid-area: image;
		background-image: url(assets/images/hero-bg.svg);
		background-repeat: no-repeat;
		background-position: right top;
		background-size: contain;
		height: max(515px);
		@include mobile {
			background-position: left;
			height: max(310px);
		}
	}
	&__partners {
		grid-area: partners;
		padding-top: 60px;
		overflow-x: hidden;
	}
	&__partners-list {
		@include flex-center;
		filter: grayscale(1);
		justify-content: space-evenly;
		flex-wrap: wrap;
		gap: 20px;
		@include tablet {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			justify-items: center;
		}
	}
}
